@import '../theme'
@import '../animations'

.root

  .title
    text-align: center
    padding: spacing(6, 4)
    font-size: 1.3rem
    font-weight: map-get($typography, fontWeight, bold)

  p
    padding: spacing(2, 4)

  .examples
    padding: spacing(4)

  .tiles
    display: flex
    gap: spacing(1)
    justify-content: center 

    .tile
      width: 40px
      aspect-ratio: 1
      display: flex
      justify-content: center
      align-items: center
      text-transform: uppercase
      font-size: 1.25rem
      font-weight: map-get($typography, 'fontWeight', bold)
      background-color: #7f7f7f00 // TRANS 1
      border: 2px solid palette(background, paper2)
      color: palette(text, primary)

      @each $state in $flip-states
        &.#{$state}
          animation: flip-#{$state} $flip-duration ease-in-out forwards

  .description
    text-align: center
    margin: spacing(2, 0, 3)

