@import '../theme'
@import '../animations'

.options
  display: grid
  grid-template-columns: repeat(2, max-content)
  justify-content: center
  gap: spacing(4)

  .optionInfo
    display: flex
    flex-direction: column
    justify-content: center
    gap: spacing(.5)

  .optionTitle
    font-size: 1.1rem
    font-weight: map-get($typography, 'fontWeight', bold)

  .optionDesc
    font-size: 0.8rem
    color: palette(text, secondary)
  
.tile
  height: $tile-size
  width: $tile-size
  display: flex
  justify-content: center
  align-items: center
  text-transform: uppercase
  font-size: 1.5rem
  font-weight: map-get($typography, 'fontWeight', bold)
  cursor: pointer
  color: palette(text, primary)

  &.enabled
    animation: correct $flip-duration-halved steps(1) forwards, flip $flip-duration ease-in-out forwards

  &.disabled
    animation: correct-rev $flip-duration-halved steps(1) forwards, flip-dup $flip-duration ease-in-out forwards