@import '../theme'
@import '../animations'

.stats
  display: grid
  grid-template-columns: repeat(4, minmax(max-content, 1fr))
  gap: spacing(3)
  margin-bottom: spacing(4)

  .stat
    text-align: center

    dd
      font-size: 2rem

    dt
      font-size: 0.8rem
      color: palette(text, secondary)

.distribution
  display: grid
  grid-template-columns: max-content 1fr
  column-gap: spacing(2)
  row-gap: spacing(1)
  align-items: center
  font-size: 0.9rem
  padding: spacing(2)

  dt
    color: palette(text, secondary)

  .barOuter
    width: 100%
    height: 1.25rem
    position: relative
    display: flex
    align-items: center
    border-radius: $border-radius
    overflow: hidden

    .bar
      height: 100%
      border-radius: $border-radius
      animation: stat-bar 1000ms ease-in-out forwards
      position: absolute
      background: palette(tile, correct)

    .barHidden
      animation: stat-bar 1000ms ease-in-out forwards

    dd
      z-index: 1
      padding: spacing(0, 1)

.emptyDistribution
  text-align: center
  padding: spacing(2)

.footer
  display: flex

  > *
    flex: 1

  .countdown
    text-align: center
    border-right: 1px solid palette(misc, divider)

    time
      font-size: 2rem
    
    div
      font-size: 0.8rem
      color: palette(text, secondary)

  .shareDiv
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    .share
      display: flex
      justify-content: center
      align-items: center
      padding: spacing(2, 3)
      border-radius: $border-radius
      border: 2px solid palette(tile, correct)
      background-color: unset
      font-size: 1rem
      font-weight: map-get($typography, fontWeight, bold)
      color: palette(text, primary)
      cursor: pointer

      &::after
        content: "複製遊戲成績"
        padding-left: spacing(1)
      
      &.copied
        animation: correct $flip-duration-halved steps(1) forwards, flip $flip-duration ease-in-out forwards

        &::after
          animation: shared $flip-duration-halved steps(1) forwards

    .answer
      margin-top: spacing(1)
      font-size: 0.8rem
      color: palette(text, secondary)


@keyframes stat-bar
  from
    width: 0