@import '../theme'
@import '../animations'

.backdrop
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: map-get($z-index, dialog)
  translate: tranlateZ(map-get($z-index, dialog))
  background-color: rgba(0, 0, 0, .6)

.inner
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  
.root 
  width: clamp(300px, 400px, 95%)
  transform: translateZ(map-get($z-index, dialog-root))
  border-radius: $border-radius
  border: 0
  padding: 0
  position: relative
  max-height: 100vh
  max-height: var(--app-height, 100vh)
  min-height: 50px
  animation: slide-up $slide-in-duration ease-in-out forwards
  background-color: palette(misc, background)
  color: palette(text, primary)
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px

.title
  text-align: center
  padding: spacing(4)
  font-size: 1.35rem
  font-weight: map-get($typography, fontWeight, heavy)
  border-bottom: 1px solid palette(misc, divider)

.content
  padding: spacing(4)

.close
  position: absolute
  top: spacing(4)
  right: spacing(4)
  cursor: pointer
  color: palette(text, secondary)

  &:hover
    color: palette(text, primary)
    