@import '../theme'
@import '../animations'

.root
  flex: 1
  display: flex
  justify-content: center
  align-items: center

.board
  width: clamp(300px, 350px, 100%)
  display: grid
  grid-template-columns: repeat(6, 1fr)
  gap: spacing(1.5)

  .row
    display: contents

    .tile
      aspect-ratio: 1
      display: flex
      justify-content: center
      align-items: center
      text-transform: uppercase
      font-size: 1.5rem
      font-weight: map-get($typography, 'fontWeight', bold)
      border: 2px solid palette(tile, border)
      color: palette(text, primary)
      transition: background-color 200ms ease-in-out

      @each $state in $flip-states
        &.#{$state}
          animation: #{$state} $flip-duration-halved steps(1) forwards, flip $flip-duration ease-in-out forwards

      @for $i from 1 through 6
        &.absent:nth-child(#{$i}), 
        &.present:nth-child(#{$i}), 
        &.correct:nth-child(#{$i})
          animation-delay: $flip-duration * ($i - 1)

      &.error
        background-color: palette(tile, error) // TRANS .5

      &.entered
        animation: tile-fill 100ms ease-in-out forwards