@import '../theme'
@import '../animations'

.root
  width: 100%
  height: 200px
  display: flex
  padding: spacing(1)

  .inputs
    width: 100%
    height: 100%
    display: grid
    grid-template-columns: repeat(20, 1fr)
    gap: spacing(1)
    justify-content: stretch
    align-content: stretch

  .button
    grid-column: span 2
    border-radius: $border-radius
    text-transform: uppercase
    font-weight: map-get($typography, 'fontWeight', 'bold')
    cursor: pointer
    background: palette(tile, default)
    color: palette(text, primary)

    &.bsButton, &.subButton
      grid-column: span 4
      background: palette(tile, absent)

    &.emptyButton
      grid-column: span 12

    @each $state in $flip-states
      &.#{$state}
        animation: keyboard-#{$state} $flip-duration-halved steps(1) forwards
        animation-delay: $flip-duration * 6.5