@each $state in $flip-states
  @keyframes flip-#{$state}
    50%
      transform: rotateX(90deg)
      border: 2px solid palette(tile, #{$state})
      background-color: palette(tile, #{$state})
    100%
      transform: none
      border: 2px solid palette(tile, #{$state})
      background-color: palette(tile, #{$state})

@keyframes tile-fill
  50%
    transform: scale(1.1)
  100%
    transform: none

@keyframes flip-enabled
  0%
    transform: none
    border: 2px solid palette(background, paper2)
    background-color: #7f7f7f00 // TRANS 1
  50% 
    transform: rotateX(90deg)
    border: 2px solid palette(tile, correct)
    background-color: palette(tile, correct)
  100% 
    transform: none
    border: 2px solid palette(tile, correct)
    background-color: palette(tile, correct)

@keyframes flip-disabled
  0%
    transform: none
    border: 2px solid palette(tile, correct)
    background-color: palette(tile, correct)
  50% 
    transform: rotateX(90deg)
    border: 2px solid palette(tile, correct)
    background-color: palette(tile, correct)
  100% 
    transform: none
    border: 2px solid palette(background, paper2)
    background-color: #7f7f7f00 // TRANS 1

@keyframes slide-up
  0%
    opacity: 0
    transform: translateY(20px)
  100%
    opacity: 1
    transform: translateY(0px)