html
  min-height: calc(100% + env(safe-area-inset-top))
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left)

html
  padding: 0
  margin: 0
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif
  font-size: 16px
  font-weight: normal
  scroll-behavior: smooth
  -webkit-font-smoothing: antialiased

*
  padding: 0
  margin: 0
  box-sizing: border-box
