@use 'sass:math';

// App Configuration

$main-window-width: 500px;
$header-height: 50px;
$tile-size: 50px;
$tile-size-sm: 40px;

// Animation Configuration

$flip-states: ('absent', 'present', 'correct');
$flip-duration: 250ms;
$flip-duration-halved: math.div($flip-duration, 2);
$slide-in-duration: 200ms;

// CSS Variables

$border-radius: 4px;

$z-index: (
  dialog: 1000px,
  snackbar: 1500px,
);

$typography: (
  fontSize: 16px,
  fontFamily: ('Lexend', 'Roboto', 'Helvetica', 'Arial', 'sans-serif'),
  fontWeight: (
    light:   300,
    regular: 400,
    medium:  500,
    bold:    700,
    heavy:   900
  )
);

// Palette

$dark-colors: (
  tile: (
    default: #818384,
    border:  #3a3a3c,
    entered: #565758,
    absent:  #3a3a3c,
    present: #c9b458,
    correct: #6aaa64,
    error:   #f443367f,
  ),
  text: (
    primary:   #ffffff,
    secondary: #82868c,
  ),
  misc: (
    background: #121213,
    divider: rgba(255, 255, 255, .12),
  ),
);

$light-colors: (
  tile: (
    default: #d3d6da,
    border:  #d3d6da,
    entered: #aaadaf,
    absent:  #aaadaf,
    present: #c9b458,
    correct: #6aaa64,
    error:   #f443367f,
  ),
  text: (
    primary:   #181818,
    secondary: #82868c,
  ),
  misc: (
    background: #f5f4f3,
    divider: rgba(0, 0, 0, .12),
  ),
);

// Fn to retrieve CSS variables
// Ref: https://codepen.io/jakealbaugh/post/css4-variables-and-sass

@function palette($color-name, $color-variant: null) {
  @if ($color-variant != null) {
    @return var(--#{$color-name}-#{$color-variant});
  } @else {
    @return var(--#{$color-name});
  }
};

// Media queries

$breakpoints: (
  xs: 0px,
  sm: 600px,
  md: 900px,
  lg: 1200px,
  xl: 1536px
);

@mixin bp-down($bp) {
  @media all and (max-width: map-get($breakpoints, $bp)) {
    @content
  };
};

@mixin bp-up($bp) {
  @media all and (min-width: map-get($breakpoints, $bp)) {
    @content
  };
};

@mixin bp-in($lower-bp, $upper-bp) {
  @media all and (min-width: map-get($breakpoints, $lower-bp)) and (max-width: map-get($breakpoints, $upper-bp)) {
    @content
  };
};

// Spacing

@function spacing($top, $right: null, $bottom: null, $left: null) {
  $step: 4px;
  @if $right  == null and $bottom == null and $left == null { @return $top * $step };
  @if $left   == null { $left:   $right };
  @if $bottom == null { $bottom: $top   };
  @if $right  == null { $right:  $top   };
  @return $top * $step $right * $step $bottom * $step $left * $step;
};